/********** Base styles **********/
* {
  box-sizing: border-box;
}

.container{
  margin:0;
  width:100%;
  padding: 0;
}

#header-nav {
  background-color: #ffb3b3;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
  padding-left: 15px;
}

.navbar-header{
  width:100%;
  padding: 0;
}

#nav-list{
  text-align: center;
  background-color: #ffe6e6;
  padding: 0;
  margin:0;
  width:100%;
}

#collapsable-nav{
  width:100%;
  padding: 0;
  margin:0;
}

#menuBtn{
  margin-right:8px;
}

li{
  border: 1px solid #ff9999;
  font-size: 1.5em;
  font-weight: bold;
}

.container > .navbar-header{  
  margin-right: 0;
  margin-left: 0;
}




